@font-face {
    src: url("fonts/BBH_Bartle/BBHBartle-Regular.ttf");
    font-family: "BBH Bartle";
}

@font-face {
    src: url("fonts/BBH_Bogle/BBHBogle-Regular.ttf");
    font-family: "BBH Bogle";
}

@font-face {
    src: url("fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf");
    font-family: "DM Sans";
}

@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    color: #000000;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: #ffffff;
}

section {
    height: 100vh;
    width: 100%;
}

::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
    border-left: 2px solid #000000;
}

::-webkit-scrollbar-thumb {
    background-color: #232323;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #000000;
}

h1 {
    font-weight: 200;
    font-family: "BBH Bogle", sans-serif;
}

/* ----------NAV---------- */

.nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    border-bottom: 2px solid #000000;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 2rem;
}

.nav h1 {
    font-size: 2em;
    font-weight: 200;
    transform-origin: left center;
    transform: scale(0.8, 1);
    width: max-content;
    transition: 0.4s ease;
    cursor: pointer;
}

.nav h1:hover {
    transform: scale(1, 1);
    padding-right: 7.5rem;
}

.nav-right {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.4s ease;
}

.nav-right a {
    position: relative;
    text-decoration: none;
    color: #000;
}

.nav-right a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.2em;
    height: 2px;
    width: 100%;
    background: #000;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
}

.nav-right a:hover::after {
    transform: scaleX(1);
}

.nav-right a:not(:hover)::after {
    transform-origin: right;
}

/* --------BANNER-------- */

.banner {
    --after-bg: transparent;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    overflow: hidden;
}

.banner::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(0deg, var(--after-bg), transparent);
}

.banner-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.banner-cover .dot {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #fff;
  border-radius: 50%;
}

.banner-text h1 {
    font-size: 1.5em;
}

.banner-text .main {
    margin-top: -0.25em;
    margin-left: -0.035em;
    font-size: 8em;
}

.banner, .banner h1 {
  transition: background-color 0.2s linear, color 0.2s linear;
}

/* -----STUFF I MAKE----- */

.make {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8rem 6rem;
}

.make h1 {
    font-size: 4rem;
}

.make ul {
    list-style: none;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 2rem;
}

.make li {
    transform: translateX(-100%);
    opacity: 0;
    margin: 1rem 0;
}

.hashtag-link {
    margin-right: 0.5em;
    text-decoration: none;
    color: #f0f0f0;
    transition: 0.2s ease color, 0.2s ease transform;
}

.hashtag-link:hover {
    color: #414141;
    transform: rotate(-5deg) translate(-20%, 30%);
}

.about {
    color: #ffffff;
    background-color: #000000;
}

.about-track {
    display: flex;
    width: max-content;
}

.about-track > div:nth-of-type(1) {
    display: flex;
    padding: 8rem 10rem;
    justify-content: center;
    flex-direction: column;
    min-width: 100vw;
    height: 100vh;
}

.about-track > div > h1, .about-track > div > h2, .about-track > div > h3, .about-track > div > h4, .about-track > div > h5, .about-track > div > h6 {
    color: #ffffff;
}

.about-track > div:nth-of-type(1) > h1.main {
    font-size: 6em;
}

.about-track > div:nth-of-type(2) {
    display: flex;
    padding: 8rem 10rem;
    justify-content: center;
    flex-direction: column;
    min-width: 100vw;
    height: 100vh;
}

.pepperoni {
    background: url("images/pepperoni-bg.jpg") center / cover no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-family: 'BBH Bogle', sans-serif;
}

.three-container {
    perspective: 1200px;
    padding: 4rem;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #f5f5f5;
    gap: 4rem;
}

.panel {
    width: calc(100vw - 8rem);
    height: calc(100% - 80px);;
    background-color: #ffffff;
    border: 2px solid #000000;
    box-shadow: 10px 10px 0px #d3d3d3;
    display: flex;
    padding: 2rem;
    font-size: 1em;
    font-family: "BBH Bogle", sans-serif;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.panel .module {
    flex: 1;
    padding: 1rem;
}

.panel .module:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel .module:last-child a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
}

.panel .module:last-child a > img {
    width: 100%;
    height: auto;
    border: 2px solid #000000;
    display: block;
    transition: opacity 0.2s ease;
}

.panel .module:last-child a:hover img {
    opacity: 0.8;
}

.work-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
}

.contact {
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    font-size: 1em;
}

.contact * {
    color: #ffffff;
}

.contact h1 {
    font-size: 4.8em;
    margin-right: 0.2em;
}